<web-app>
<servlet>
<servlet-name>s1</servlet-name>
<servlet-class>Controller.registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>s1</servlet-name>
<url-pattern>/hell</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>se2</servlet-name>
<servlet-class>Controller.exam</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>se2</servlet-name>
<url-pattern>/hey</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>ser3</servlet-name>
<servlet-class>Controller.result</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ser3</servlet-name>
<url-pattern>/res</url-pattern>
</servlet-mapping>
</web-app>
